databasemaster:
    build: .
    ports:
      - "3306:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=TestPassword1
      - REPLICATION_MASTER=true
      - REPLICATION_USER=mysql-slave
      - REPLICATION_PASS=slaveone
databaseslave:
    build: /Path/to/mysql-slave/
    ports: 
      - "3307:3307"
    links:
     - databasemaster
    environment:
      - MYSQL_ROOT_PASSWORD=TestPassword1
      - REPLICATION_SLAVE=true
tomcat:
    links:
      - databasemaster
      - databaseslave
    build: /Path/to/tomcat
    command: /usr/local/tomcat/bin/catalina.sh run
    ports:
      - "8080:8080"
